.vs/Dapper.Extender/v15/.suo
.vs/Dapper.Extender/v15/Server/sqlite3/db.lock
.vs/Dapper.Extender/v15/Server/sqlite3/storage.ide
src/Dapper.Extender/bin/Debug/netcoreapp2.0/Dapper.Extender.deps.json
src/Dapper.Extender.Test/obj/project.assets.json
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.csproj.CoreCompileInputs.cache
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.Program.cs
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.AssemblyInfoInputs.cache
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.AssemblyInfo.cs
src/Dapper.Extender.Test/obj/Dapper.Extender.Test.csproj.nuget.g.targets
src/Dapper.Extender.Test/obj/Dapper.Extender.Test.csproj.nuget.g.props
src/Dapper.Extender.Test/obj/Dapper.Extender.Test.csproj.nuget.cache
src/Dapper.Extender/obj/project.assets.json
src/Dapper.Extender/obj/Debug/netcoreapp2.0/Dapper.Extender.csprojResolveAssemblyReference.cache
src/Dapper.Extender/obj/Debug/netcoreapp2.0/Dapper.Extender.csproj.FileListAbsolute.txt
src/Dapper.Extender/obj/Debug/netcoreapp2.0/Dapper.Extender.csproj.CoreCompileInputs.cache
src/Dapper.Extender/obj/Debug/netcoreapp2.0/Dapper.Extender.AssemblyInfoInputs.cache
src/Dapper.Extender/obj/Debug/netcoreapp2.0/Dapper.Extender.AssemblyInfo.cs
src/Dapper.Extender/obj/Dapper.Extender.csproj.nuget.g.targets
src/Dapper.Extender/obj/Dapper.Extender.csproj.nuget.g.props
src/Dapper.Extender/obj/Dapper.Extender.csproj.nuget.cache
.vs/Dapper.Extender/v15/Server/sqlite3/storage.ide-wal
.vs/Dapper.Extender/v15/Server/sqlite3/storage.ide-shm
src/Dapper.Extender/obj/Debug/netcoreapp2.0/Dapper.Extender.pdb
src/Dapper.Extender/obj/Debug/netcoreapp2.0/Dapper.Extender.dll
src/Dapper.Extender/bin/Debug/netcoreapp2.0/Dapper.Extender.pdb
src/Dapper.Extender/bin/Debug/netcoreapp2.0/Dapper.Extender.dll
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.pdb
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.dll
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.csprojResolveAssemblyReference.cache
src/Dapper.Extender.Test/obj/Debug/netcoreapp2.0/Dapper.Extender.Test.csproj.FileListAbsolute.txt
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Dapper.Extender.Test.runtimeconfig.json
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Dapper.Extender.Test.runtimeconfig.dev.json
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Dapper.Extender.Test.pdb
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Dapper.Extender.Test.dll
src/Dapper.Extender.Test/bin/Debug/netcoreapp2.0/Dapper.Extender.Test.deps.json
